
<div class="body">
    <div class="resetPass">
        

    <form [formGroup]="formPass" >
        <h1></h1>

        <h1>RESET PASSWORD</h1>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>New Password</mat-label>
            <input matInput autocomplete="off" type="password" formControlName="password" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Confirm Password</mat-label>
            <input matInput autocomplete="off" type="password" formControlName="confirm" required>
        </mat-form-field>

        <br>
        <!--Dejamos el boton deshabilitado siempre que sea invalido el formulario-->
        <button type="submit" (click)="updatePassword()" mat-raised-button color="primary" class="ancho button" [disabled]="formPass.invalid">Change password</button>
        <br>
        <br>
        <button type="submit" routerLink="/login" mat-raised-button color="accent" class="ancho button" (click)="Cancel()">Cancel</button>
        <h1></h1>
    </form>
    </div>

</div>