<div class="body">
    <div class="resetPass">
        <!--Mandamos a llamar el spiner previo al acceso-->
         <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>

        <form [formGroup]="form" *ngIf="!loading">
            <h1></h1>

            <h1>RESET PASSWORD</h1>
            <mat-form-field appearance="fill" class="ancho">
                <mat-label>Email Address</mat-label>
                <input matInput autocomplete="off" type="text" formControlName="email" [(ngModel)]="dataMail.email">
            </mat-form-field>

            <br>
            <!--Dejamos el boton deshabilitado siempre que sea invalido el formulario-->
            <button type="submit" (click)="sendingEmail()" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">Send email</button>
            <br>
            <br>
            <button type="submit" routerLink="/login" mat-raised-button color="accent" class="ancho button">Back</button>
            <h1></h1>
        </form>
    </div>
</div>